<%= link_to line_page_group_path, style: "text-decoration:none; color:inherit;" do %>
  <div class="chat-item">
      <img src="/assets/kanazawaeki.png" alt="ユーザー">
      <div class="chat-info">
          <h2>グループチャット（3）</h2>
          <p>確認してみて</p>
      </div>
      <span class="badge">!</span>
  </div>
<% end %>

<%= link_to line_page_hayato_path, style: "text-decoration:none; color:inherit;" do %>
<div class="chat-item">
    <img src="/assets/hayato.png" alt="室">
    <div class="chat-info">
        <h2>室谷隼人</h2>
        <p>何でも聞いてくれ！</p>
    </div>
    <span class="badge">!</span>
</div>
<% end %>

<%= link_to line_page_keisuke_path, style: "text-decoration:none; color:inherit;" do %>
<div class="chat-item">
    <img src="/assets/keisuke.png" alt="横">
    <div class="chat-info">
        <h2>横山圭介</h2>
        <p>隼人に確認してもらってもいい？</p>
    </div>
    <span class="badge">!</span>
</div>
<% end %>
