<%= link_to line_page_group_path, style: "text-decoration:none; color:inherit;" do %>
  <div class="chat-item">
      <img src="avatar1.jpg" alt="ユーザー">
      <div class="chat-info">
          <h2>グループライン（3）</h2>
          <p>確認してみて</p>
      </div>
      <span class="badge">9</span>
  </div>
<% end %>

<%= link_to line_page_hayato_path, style: "text-decoration:none; color:inherit;" do %>
<div class="chat-item">
    <img src="dmm_logo.png" alt="DMM WEB CAMP">
    <div class="chat-info">
        <h2>室谷隼人</h2>
        <p>テストテストテスト</p>
    </div>
</div>
<% end %>

<%= link_to line_page_keisuke_path, style: "text-decoration:none; color:inherit;" do %>
<div class="chat-item">
    <img src="line_coupon.png" alt="LINE クーポン">
    <div class="chat-info">
        <h2>横山圭介</h2>
        <p>テストテストテスト</p>
    </div>
</div>
<% end %>
