<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">昨日、拾ったスマホだけど、</div>
    <div class="message friend">壊れているから、スマホの機能は</div>
    <div class="message friend">まったく使えないね</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">なんとか写真とか、メールの履歴は</div>
    <div class="message friend">復元できそうだから、やってみるわ</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">スマホの持ち主を見つけても</div>
    <div class="message friend">壊れているから、返しても意味は…</div>
    <div class="message friend">無いと思うけど、隼人は諦めるかな？</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/keisuke.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">横山圭介</div>
    <div class="message friend">申し訳ないけど、復元で忙しいから</div>
    <div class="message friend">隼人から連絡来たら、この事を</div>
    <div class="message friend">教えてあげてくれる？</div>
</div>
</div>

