
<div class="message-container friend">
<img src="/assets/hayato.png" alt="Facebook" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">こんにちは！</div>
</div>
</div>

<div class="message-container friend">
<img src="/assets/hayato.png" alt="Instagram" width="40">
<div class="message-content">
    <div class="username">室谷隼人</div>
    <div class="message friend">元気だよ！最近どう？</div>
</div>
</div>

<div class="message-container user">
<img src="https://upload.wikimedia.org/wikipedia/commons/4/41/LINE_logo.svg" alt="LINE" width="40">
<div class="message-content">
    <div class="username">自分</div>
    <div class="message user">まあまあかな。色々忙しいよ！</div>
</div>
</div>
